.layout {
	background-color: var(--Dark-cyan);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.circle2 {
	width: 500px;
	position: absolute;
	z-index: 90;
	bottom: -150px;
	right: -250px;
}
.circle1 {
	width: 500px;
	position: absolute;
	z-index: 90;
	top: -150px;
	left: -250px;
}

@media screen and (min-width: 1140px) {
	.circle2 {
		width: 1000px;
		bottom: -550px;
		right: -350px;
	}
	.circle1 {
		width: 1000px;
		top: -550px;
		left: -350px;
	}
}
